body {
    background-color: rgb(10, 10, 30);
}

h1  {
    color: rgba(200, 120, 40);
    text-align: center;
    text-decoration: rgba(100, 120, 40) overline underline;
    letter-spacing: 15px;
    font-weight: lighter;
}

button {
    color: rgba(100, 120, 40);
    background-color: rgb(245, 245, 245);
    box-shadow: 2px 2px 2px green;
}

p {
    color: rgba(200, 120, 40);
}