body {
    background-color: rgb(10, 10, 30);
    color: rgba(200, 120, 40);
}

h1 {
    color: rgba(200, 120, 40);
    text-align: center;
    text-decoration: rgba(100, 120, 40) overline underline;
    letter-spacing: 1.5rem;
    font-weight: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Arial;
}

button {
    color: rgba(100, 120, 40);
    background-color: rgb(245, 245, 245);
    box-shadow: 0.5rem 0.2rem 0.5rem green;
}

p {
    color: rgba(200, 120, 40);
}

/* id selector */
#i-am-button {
    background-color: rgba(200, 120, 40);
    color: rgb(10, 10, 30);
}

/* class selector*/
.para-lorem {
    font-weight: bold;
}

/* descendant selector: It means the child is selected 'parent' 'child' {some styling } */
div div {
    color: rgb(245, 245, 245);
}